html, body {
    height: 100%;
}

#page-content {
    flex: 1, 0, auto;
}

#home-container{
    margin-top: 25px;
    background-color: black;
}

.form-container{
    margin-top: 25px;
    background-color: #bcd3f5fb;
    padding: 20px;
}
#sticky-footer{
    flex-shrink: none;
}

.footer-color
{
    color: aqua;
}

#article_card{
    
}

.jumbotron{
    background-image: asset-url('img1.jpeg');
    background-position: center center;
    background-size: cover;
}


@import "bootstrap";
